.demo-module {
    width: 100%;
    padding-bottom: 100%;

    // border-width: 5px;
    // border-style: solid;
    // border-color: @yellow;

    background-color: #000;    
    border-radius: 0px;
    .transition(all 200ms ease-in);
}

.demo-module.elq-width-above-100 {
    background-color: @blue;
    border-radius: 25px;
}

.demo-module.elq-width-above-200 {
    background-color: @lightblue;
    border-radius: 50px;
}

.demo-module.elq-width-above-300 {
    background-color: @green;
    border-radius: 100px;
}

.demo-module.elq-width-above-400 {
    background-color: @yellow;
    border-radius: 50%;
}