.demo-box {
    position: relative;
    padding: 20px;
    border: 5px solid @bley;
    overflow: hidden;

    margin-bottom: @line-height-computed;

    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    .box-sizing(border-box);
}

#demo-box-1 {
    width: 80px;
    height: 80px;    
}

#demo-box-2 {
    width: 150px;
    height: 150px;
}

#demo-box-3 {
    width: 130px;
    width: 130px;
}