.demo-box {
    padding: 40px;
    border: 5px solid @bley;
    resize: both;
    overflow: hidden;

    margin-bottom: @line-height-computed;

    margin-right: auto;
    margin-left: auto;
    max-width: 450px;

    width: 80px;
    height: 80px;
    // padding-bottom: 100%;
}