.demo-module {
    width: 100px;
    height: 100px;
}

.demo-module-square {
    border: 5px solid @bley;
}

.demo-module-circle {
    border: 5px solid @bley;
    border-radius: 50%;
}

.demo-module-triangle {
    border: 5px solid @bley;
    border-radius: 25%;
}