.tab-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.tabs {
    position: relative;
    margin-bottom: -10px;
}

.tab {
    .btn;
    .btn-blue;
    border-bottom: 0;
    padding-bottom: 20px;

    .box-sizing(border-box);
    display: block;

    &.active {
        background-color: @blue;
        color: @yellow;
    }

    @media screen and (max-width: 384px) {
        &:hover, &:active, &:focus {
            .transform(none);
        }
    }

    @media screen and (min-width: 384px) {
        display: inline-block;
    }
}

.tab-panes {
    position: relative;
    z-index: 1;
    border: 3px solid @blue;

    .gist .gist-file {
        margin-bottom: 0;
        border-radius: 0;
    }
}

.tab-panes .tab-pane{
    display: none
}
.tab-panes .active{
    display: block
}