body {
    font-family: "proxima-nova", sans-serif;
    font-size: 100%;
    color: @bley2;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 777px;
    margin-bottom: @line-height-computed;
}

h1, h2, h3 {
    letter-spacing: -0.03em;
}

h1 {
    color: @blue;
    font-size: 3rem;
    margin-bottom: 1.5 * @line-height-computed;
}

h2 {
    font-size: 2rem;
    color: @yellow;
    margin-bottom: 0;
    line-height: 1;
}

h3 {
    color: @bley;
    font-size: 1.5rem;
    line-height: 1.4;
}

hgroup {
    h1 {
        margin-bottom: 0.5 * @line-height-computed;
    }

    margin-bottom: 1.5 * @line-height-computed;
}

a {
    color: @yellow;
    text-decoration: none;
}

code {
    font-family: "anonymous-pro", courier;
    background-color: @yellow;
    color: #fff;
    padding: 0 5px;

    &.green {
        background-color: @green;
        color: #fff;
    }

    &.blue {
        background-color: @lightblue;
        color: #fff;
    }

    &.simple {
        color: @yellow;
        background: none;
        padding: 0;

        &.green {
            color: @green;
        }
    }
}

em {
    font-weight: 700;
    font-style: normal;
}

.blue { color: @blue; } 
.yellow { color: @yellow; } 
.green { color: @green; }
.lightblue { color: @lightblue; }
.bley { color: @bley; }
.bley2 { color: @bley2; }


ol {
    list-style: none;

    li {
        counter-increment: item;
    }
}

ol li:before {
    content: counter(item) ". ";
    color: @yellow;
}

ol ol {
    list-style-type: lower-roman;

    li:before {
        display: none;
    }
}


