body {
    font-family: "proxima-nova", sans-serif;
    font-size: 100%;
    color: @bley2;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 777px;
    margin-bottom: @line-height-computed;
}

h1, h2, h3 {
    color: @blue;
    letter-spacing: -0.03em;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5 * @line-height-computed;
}

h2 {
    font-size: 2rem;
    color: @yellow;
    margin-bottom: 0;
    line-height: 1;
}

hgroup {
    h1 {
        margin-bottom: 0.5 * @line-height-computed;
    }
    
    margin-bottom: 1.5 * @line-height-computed;
}

a {
    color: @yellow;
    text-decoration: none;
}

code {
    font-family: "anonymous-pro", courier;
    background-color: @yellow;
    color: #fff;
    padding: 0 5px;
}

em {
    font-weight: 700;
    font-style: normal;
    color: @yellow;
}

.blue { color: @blue; } 
.yellow { color: @yellow; } 
.green { color: @green; }
.lightblue { color: @lightblue; }
.bley { color: @bley; }
.bley2 { color: @bley2; }