body {
    font-family: "proxima-nova", sans-serif;
    font-size: 100%;
    color: @bley;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.5rem;
    line-height: 1.4;
    max-width: 777px;
    margin-bottom: @line-height-computed;
}

h1, h2, h3 {
    color: @blue;
    letter-spacing: -0.03em;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5 * @line-height-computed;
}

a {
    color: @yellow;
    text-decoration: none;
}